# Competition Objective is to detect fraud in transactions; 

## Data


In this competition you are predicting the probability that an online transaction is fraudulent, as denoted by the binary target ```isFraud```.

The data is broken into two files **identity** and **transaction**, which are joined by ```TransactionID```. 

> Note: Not all transactions have corresponding identity information.

**Transaction variables**

- TransactionDT: timedelta from a given reference datetime (not an actual timestamp)
- TransactionAMT: transaction payment amount in USD
- ProductCD: product code, the product for each transaction
- card1 - card6: payment card information, such as card type, card category, issue bank, country, etc.
- addr: address
- dist: distance
- P_ and (R__) emaildomain: purchaser and recipient email domain
- C1-C14: counting, such as how many addresses are found to be associated with the payment card, etc. The actual meaning is masked.
- D1-D15: timedelta, such as days between previous transaction, etc.
- M1-M9: match, such as names on card and address, etc.
- Vxxx: Vesta engineered rich features, including ranking, counting, and other entity relations.

**Categorical Features - Transaction**

- ProductCD
- emaildomain
- card1 - card6
- addr1, addr2
- P_emaildomain
- R_emaildomain
- M1 - M9

**Categorical Features - Identity**

- DeviceType
- DeviceInfo
- id_12 - id_38

**The TransactionDT feature is a timedelta from a given reference datetime (not an actual timestamp).**

# 1. Importation and memory reduction
## 1.1. Importing necessary libraries

In [30]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import scipy as sp
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

# Standard plotly imports
#import plotly.plotly as py
import plotly.graph_objs as go

import plotly.express as px
import plotly.tools as tls
from plotly.subplots import make_subplots

from plotly.offline import iplot, init_notebook_mode
#import cufflinks
#import cufflinks as cf
import plotly.figure_factory as ff


# Using plotly + cufflinks in offline mode
init_notebook_mode(connected=True)
#cufflinks.go_offline(connected=True)

# Preprocessing, modelling and evaluating
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, roc_auc_score
from sklearn.model_selection import StratifiedKFold, cross_val_score, KFold
from xgboost import XGBClassifier
import xgboost as xgb

## Hyperopt modules
from hyperopt import fmin, hp, tpe, Trials, space_eval, STATUS_OK, STATUS_RUNNING
from functools import partial

import os
import gc
import time

In [0]:
### Import data from google drive

!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
link1 = 'https://drive.google.com/open?id=1-2YM1zPLC6L4e94c7UHtfm70-UhrJAx9'
link2 = 'https://drive.google.com/open?id=1-8b83OZ7qoWypGqquhyXXmbETyhjDq0G'

link5 = 'https://drive.google.com/open?id=1v5in81M0aYl-pX5u-8Tq4G8kwFp4CVez'
_, id1 = link1.split('=')
_, id2 = link2.split('=')

_, id5 = link5.split('=')

downloaded1 = drive.CreateFile({'id':id1}) 
downloaded1.GetContentFile('df_train.pkl')  
downloaded2 = drive.CreateFile({'id':id2}) 
downloaded2.GetContentFile('df_test.pkl')  

downloaded5 = drive.CreateFile({'id':id5}) 
downloaded5.GetContentFile('sample_submission.csv')

## 1.2. Importing train datasets

In [0]:
df_train = pd.read_pickle("df_train.pkl")
df_test = pd.read_pickle("df_test.pkl")
sample_submission = pd.read_csv('sample_submission.csv')

In [0]:
#df_train = df_train1[0:10000]

In [34]:
print(df_train.shape)
print(df_test.shape)

(590540, 430)
(506691, 429)

## 1.3. Memory reduction

In [0]:
def resumetable(df):
    n = df.shape[0]
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values  
    summary['Missing %'] = round(summary['Missing'] / n * 100,2)
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.loc[0].values
    summary['Second Value'] = df.loc[1].values
    summary['Third Value'] = df.loc[2].values


    return summary

## Function to reduce the DF size
def reduce_mem_usage(df, verbose=True, object_tranform = False):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)   
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

def CalcOutliers(df_num): 

    # calculating mean and std of the array
    data_mean, data_std = np.mean(df_num), np.std(df_num)

    # seting the cut line to both higher and lower values
    # You can change this value
    cut = data_std * 3

    #Calculating the higher and lower cut values
    lower, upper = data_mean - cut, data_mean + cut

    # creating an array of lower, higher and total outlier values 
    outliers_lower = [x for x in df_num if x < lower]
    outliers_higher = [x for x in df_num if x > upper]
    outliers_total = [x for x in df_num if x < lower or x > upper]

    # array without outlier values
    outliers_removed = [x for x in df_num if x > lower and x < upper]
    print('Lower bounded value: {:.2f}'.format(lower))
    print('Upper bounded value: {:.2f}'.format(upper))
    print('Identified lowest outliers: %d' % len(outliers_lower)) # printing total number of values in lower cut of outliers
    print('Identified upper outliers: %d' % len(outliers_higher)) # printing total number of values in higher cut of outliers
    print('Total outlier observations: %d' % len(outliers_total)) # printing total number of values outliers of both sides
    print('Non-outlier observations: %d' % len(outliers_removed)) # printing total number of non outlier values
    print("Total percentual of Outliers: ", round((len(outliers_total) / len(outliers_removed) )*100, 4)) # Percentual of outliers in points
    
    return

To see the output of the Resume Table, click to see the output

# 2. Preprocessing

In [36]:
df_train.head()

   TransactionID  isFraud  TransactionDT  ...  _Weekdays _Hours _Days
0        2987000        0          86400  ...          5      0     2
1        2987001        0          86401  ...          5      0     2
2        2987002        0          86469  ...          5      0     2
3        2987003        0          86499  ...          5      0     2
4        2987004        0          86506  ...          5      0     2

[5 rows x 430 columns]

In [0]:
df_train.drop(['_merge'], axis='columns', inplace=True)
df_test.drop(['_merge'], axis='columns', inplace=True)

In [0]:
categorical_features = []
for col in df_train.columns.drop('isFraud') :
    if df_train[col].dtype == 'object' or df_test[col].dtype=='object':
        categorical_features.append(col)

In [39]:
categorical_resume = resumetable(df_train[categorical_features])
categorical_resume

Dataset Shape: (590540, 36)

             Name  dtypes  ...    Second Value     Third Value
0       ProductCD  object  ...               W               W
1           card1  object  ...            2755            4663
2           card2  object  ...             404             490
3           card3  object  ...             150             150
4           card4  object  ...      mastercard            visa
5           card5  object  ...             102             166
6           card6  object  ...          credit           debit
7           addr1  object  ...             325             330
8           addr2  object  ...              87              87
9   P_emaildomain  object  ...       gmail.com     outlook.com
10  R_emaildomain  object  ...         Maybe_P         Maybe_P
11             M1  object  ...            Miss               T
12             M2  object  ...            Miss               T
13             M3  object  ...            Miss               T
14             M4  object  ...              M0              M0
15             M5  object  ...               T               F
16             M6  object  ...               T               F
17             M7  object  ...            Miss               F
18             M8  object  ...            Miss               F
19             M9  object  ...            Miss               F
20          id_12  object  ...        NotFound        NotFound
21          id_15  object  ...             New           Found
22          id_16  object  ...        NotFound           Found
23          id_27  object  ...            Miss            Miss
24          id_28  object  ...             New           Found
25          id_29  object  ...        NotFound           Found
26          id_30  object  ...             iOS            Miss
27          id_31  object  ...          Safari          Chrome
28          id_33  object  ...        1334x750       1920x1080
29          id_34  object  ...  match_status:1  match_status:2
30          id_35  object  ...               T               F
31          id_36  object  ...               F               F
32          id_37  object  ...               F               T
33          id_38  object  ...               T               T
34     DeviceType  object  ...          mobile         desktop
35     DeviceInfo  object  ...      iOS Device         Windows

[36 rows x 8 columns]

In [0]:
# Label Encoding
for f in df_train.columns:
    if  df_train[f].dtype=='object': 
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df_train[f].values) + list(df_test[f].values))
        df_train[f] = lbl.transform(list(df_train[f].values))
        df_test[f] = lbl.transform(list(df_test[f].values))  
df_train = df_train.reset_index()
df_test = df_test.reset_index()

In [41]:
"""
# Label Encoding
categorical_features_v2 = categorical_features.copy()
for f in categorical_features:
    if float(categorical_resume.loc[categorical_resume['Name']==f, 'Uniques']) > 8 :
        categorical_features_v2.remove(f)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df_train[f].values) + list(df_test[f].values))
        df_train[f] = lbl.transform(list(df_train[f].values))
        df_test[f] = lbl.transform(list(df_test[f].values))  
"""

"\n# Label Encoding\ncategorical_features_v2 = categorical_features.copy()\nfor f in categorical_features:\n    if float(categorical_resume.loc[categorical_resume['Name']==f, 'Uniques']) > 8 :\n        categorical_features_v2.remove(f)\n        lbl = preprocessing.LabelEncoder()\n        lbl.fit(list(df_train[f].values) + list(df_test[f].values))\n        df_train[f] = lbl.transform(list(df_train[f].values))\n        df_test[f] = lbl.transform(list(df_test[f].values))  \n"

In [42]:
"""categorical_resume_v2 = resumetable(df_train[categorical_features_v2])
categorical_resume_v2
"""

'categorical_resume_v2 = resumetable(df_train[categorical_features_v2])\ncategorical_resume_v2\n'

In [43]:
"""# One hot coding

merged_train_test = pd.concat([df_train[categorical_features_v2], df_test[categorical_features_v2]], axis =0, ignore_index=True)

for col in merged_train_test.columns :
    encoder = preprocessing.OneHotEncoder(sparse=False)
    a = pd.DataFrame(encoder.fit_transform(merged_train_test[[col]].astype(np.str)))
    a.columns = encoder.get_feature_names([col])
    merged_train_test.drop(col ,axis=1, inplace=True)
    merged_train_test= pd.concat([merged_train_test, a ], axis=1)
resumetable(merged_train_test)
"""

'# One hot coding\n\nmerged_train_test = pd.concat([df_train[categorical_features_v2], df_test[categorical_features_v2]], axis =0, ignore_index=True)\n\nfor col in merged_train_test.columns :\n    encoder = preprocessing.OneHotEncoder(sparse=False)\n    a = pd.DataFrame(encoder.fit_transform(merged_train_test[[col]].astype(np.str)))\n    a.columns = encoder.get_feature_names([col])\n    merged_train_test.drop(col ,axis=1, inplace=True)\n    merged_train_test= pd.concat([merged_train_test, a ], axis=1)\nresumetable(merged_train_test)\n'

In [44]:
"""
df_train.drop(categorical_features_v2, axis =1, inplace = True)
df_test.drop(categorical_features_v2, axis =1, inplace = True)
df_train = pd.concat([df_train, merged_train_test[0:len(df_train)]], axis = 1, ignore_index=True)
df_test = pd.concat([df_test, merged_train_test[len(df_train):].reset_index(drop= True)], axis = 1, ignore_index=True)

"""

'\ndf_train.drop(categorical_features_v2, axis =1, inplace = True)\ndf_test.drop(categorical_features_v2, axis =1, inplace = True)\ndf_train = pd.concat([df_train, merged_train_test[0:len(df_train)]], axis = 1, ignore_index=True)\ndf_test = pd.concat([df_test, merged_train_test[len(df_train):].reset_index(drop= True)], axis = 1, ignore_index=True)\n\n'

In [45]:
print(df_train.shape)
print(df_test.shape)

(590540, 430)
(506691, 429)

In [46]:
df_train.head()

   index  TransactionID  isFraud  ...  _Weekdays  _Hours  _Days
0      0        2987000        0  ...          5       0      2
1      1        2987001        0  ...          5       0      2
2      2        2987002        0  ...          5       0      2
3      3        2987003        0  ...          5       0      2
4      4        2987004        0  ...          5       0      2

[5 rows x 430 columns]

In [47]:
print(df_train.columns)

Index(['index', 'TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4',
       ...
       'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo', 'dist1_na',
       'dist2_na', '_Weekdays', '_Hours', '_Days'],
      dtype='object', length=430)

In [0]:
print(df_train['_merge'])

In [0]:
features = list(df_train)
features.remove('_merge')
features.remove('isFraud')
target = 'isFraud'

In [0]:
del df_train['_merge']

In [0]:
print(df_train['_merge'])

In [0]:
""""
clf = xgb.XGBClassifier(
    n_estimators=500,
    max_depth=9,
    learning_rate=0.05,
    subsample=0.9,
    colsample_bytree=0.9,
    missing=-999,
    random_state=2019,
    tree_method='gpu_hist'  # THE MAGICAL PARAMETER
)

""""

In [0]:
""""
y_train = df_train['isFraud'].copy()

X_train = df_train.drop(['isFraud','_merge'], axis=1)
X_test = df_test.copy()
""""

In [0]:
""""

%time clf.fit(X_train, y_train)

""""

On rÃ©alise une ACP pour une rÃ©ductiond des dimensions

In [0]:
df_test['isFraud'] = 'test'
df = pd.concat([df_train, df_test], axis=0, sort=False )
df = df.reset_index()
df = df.drop('index', axis=1)

def PCA_change(df, cols, n_components, prefix='PCA_', rand_seed=4):
    pca = PCA(n_components=n_components, random_state=rand_seed)

    principalComponents = pca.fit_transform(df[cols])

    principalDf = pd.DataFrame(principalComponents)

    df.drop(cols, axis=1, inplace=True)

    principalDf.rename(columns=lambda x: str(prefix)+str(x), inplace=True)

    df = pd.concat([df, principalDf], axis=1)
    
    return df

In [0]:


mas_v = df_train.columns[55:394]

In [0]:
from sklearn.preprocessing import minmax_scale
from sklearn.decomposition import PCA
# from sklearn.cluster import KMeans

for col in mas_v:
    df[col] = df[col].fillna((df[col].min() - 2))
    df[col] = (minmax_scale(df[col], feature_range=(0,1)))

    
df = PCA_change(df, mas_v, prefix='PCA_V_', n_components=30)

In [0]:
df.head()

In [0]:
df = reduce_mem_usage(df)

In [0]:


df_train, df_test = df[df['isFraud'] != 'test'], df[df['isFraud'] == 'test'].drop('isFraud', axis=1)

In [0]:


df_train.shape

In [0]:
df_train.head()

In [0]:
X_train = df_train.sort_values('TransactionDT').drop(['isFraud', 
                                                      'TransactionDT', 
                                                      #'Card_ID'
                                                     ],
                                                     axis=1)
y_train = df_train.sort_values('TransactionDT')['isFraud'].astype(bool)

X_test = df_test.sort_values('TransactionDT').drop(['TransactionDT',
                                                    #'Card_ID'
                                                   ], 
                                                   axis=1)
del df_train
df_test = df_test[["TransactionDT"]]

In [0]:
X_train.drop(['_merge'], axis='columns', inplace=True)
X_test.drop(['_merge'], axis='columns', inplace=True)

In [54]:
X_train.head()

   level_0  TransactionID  TransactionAmt  ...  PCA_V_27  PCA_V_28  PCA_V_29
0        0        2987000        4.226562  ...  0.015488 -0.025665 -0.026749
1        1        2987001        3.367188  ... -0.001576  0.000975 -0.008194
2        2        2987002        4.078125  ... -0.000842  0.010750 -0.008667
3        3        2987003        3.912109  ... -0.001304  0.006775 -0.007515
4        4        2987004        3.912109  ...  0.019241 -0.062347  0.055756

[5 rows x 119 columns]

In [0]:
from sklearn.model_selection import KFold,TimeSeriesSplit
from sklearn.metrics import roc_auc_score
from xgboost import plot_importance
from sklearn.metrics import make_scorer

import time
def objective(params):
    time1 = time.time()
    params = {
        'max_depth': int(params['max_depth']),
        'gamma': "{:.3f}".format(params['gamma']),
        'subsample': "{:.2f}".format(params['subsample']),
        'reg_alpha': "{:.3f}".format(params['reg_alpha']),
        'reg_lambda': "{:.3f}".format(params['reg_lambda']),
        'learning_rate': "{:.3f}".format(params['learning_rate']),
        'num_leaves': '{:.3f}'.format(params['num_leaves']),
        'colsample_bytree': '{:.3f}'.format(params['colsample_bytree']),
        'min_child_samples': '{:.3f}'.format(params['min_child_samples']),
        'feature_fraction': '{:.3f}'.format(params['feature_fraction']),
        'bagging_fraction': '{:.3f}'.format(params['bagging_fraction'])
    }

    print("\n############## New Run ################")
    print(f"params = {params}")
    FOLDS = 7
    count=1
    skf = StratifiedKFold(n_splits=FOLDS, shuffle=True, random_state=42)

    tss = TimeSeriesSplit(n_splits=FOLDS)
    y_preds = np.zeros(sample_submission.shape[0])
    y_oof = np.zeros(X_train.shape[0])
    score_mean = 0
    for tr_idx, val_idx in tss.split(X_train, y_train):
        clf = xgb.XGBClassifier(
            n_estimators=600, random_state=4, verbose=True, 
            tree_method='gpu_hist', 
            **params
        )

        X_tr, X_vl = X_train.iloc[tr_idx, :], X_train.iloc[val_idx, :]
        y_tr, y_vl = y_train.iloc[tr_idx], y_train.iloc[val_idx]
        
        clf.fit(X_tr, y_tr)
        #y_pred_train = clf.predict_proba(X_vl)[:,1]
        #print(y_pred_train)
        score = make_scorer(roc_auc_score, needs_proba=True)(clf, X_vl, y_vl)
        # plt.show()
        score_mean += score
        print(f'{count} CV - score: {round(score, 4)}')
        count += 1
    time2 = time.time() - time1
    print(f"Total Time Run: {round(time2 / 60,2)}")
    gc.collect()
    print(f'Mean ROC_AUC: {score_mean / FOLDS}')
    del X_tr, X_vl, y_tr, y_vl, clf, score
    return -(score_mean / FOLDS)


space = {
    # The maximum depth of a tree, same as GBM.
    # Used to control over-fitting as higher depth will allow model 
    # to learn relations very specific to a particular sample.
    # Should be tuned using CV.
    # Typical values: 3-10
    'max_depth': hp.quniform('max_depth', 7, 23, 1),
    
    # reg_alpha: L1 regularization term. L1 regularization encourages sparsity 
    # (meaning pulling weights to 0). It can be more useful when the objective
    # is logistic regression since you might need help with feature selection.
    'reg_alpha':  hp.uniform('reg_alpha', 0.01, 0.4),
    
    # reg_lambda: L2 regularization term. L2 encourages smaller weights, this
    # approach can be more useful in tree-models where zeroing 
    # features might not make much sense.
    'reg_lambda': hp.uniform('reg_lambda', 0.01, .4),
    
    # eta: Analogous to learning rate in GBM
    # Makes the model more robust by shrinking the weights on each step
    # Typical final values to be used: 0.01-0.2
    'learning_rate': hp.uniform('learning_rate', 0.01, 0.2),
    
    # colsample_bytree: Similar to max_features in GBM. Denotes the 
    # fraction of columns to be randomly samples for each tree.
    # Typical values: 0.5-1
    'colsample_bytree': hp.uniform('colsample_bytree', 0.3, .9),
    
    # A node is split only when the resulting split gives a positive
    # reduction in the loss function. Gamma specifies the 
    # minimum loss reduction required to make a split.
    # Makes the algorithm conservative. The values can vary depending on the loss function and should be tuned.
    'gamma': hp.uniform('gamma', 0.01, .7),
    
    # more increases accuracy, but may lead to overfitting.
    # num_leaves: the number of leaf nodes to use. Having a large number 
    # of leaves will improve accuracy, but will also lead to overfitting.
    'num_leaves': hp.choice('num_leaves', list(range(20, 250, 10))),
    
    # specifies the minimum samples per leaf node.
    # the minimum number of samples (data) to group into a leaf. 
    # The parameter can greatly assist with overfitting: larger sample
    # sizes per leaf will reduce overfitting (but may lead to under-fitting).
    'min_child_samples': hp.choice('min_child_samples', list(range(100, 250, 10))),
    
    # subsample: represents a fraction of the rows (observations) to be 
    # considered when building each subtree. Tianqi Chen and Carlos Guestrin
    # in their paper A Scalable Tree Boosting System recommend 
    'subsample': hp.choice('subsample', [0.2, 0.4, 0.5, 0.6, 0.7, .8, .9]),
    
    # randomly select a fraction of the features.
    # feature_fraction: controls the subsampling of features used
    # for training (as opposed to subsampling the actual training data in 
    # the case of bagging). Smaller fractions reduce overfitting.
    'feature_fraction': hp.uniform('feature_fraction', 0.4, .8),
    
    # randomly bag or subsample training data.
    'bagging_fraction': hp.uniform('bagging_fraction', 0.4, .9)
    
    # bagging_fraction and bagging_freq: enables bagging (subsampling) 
    # of the training data. Both values need to be set for bagging to be used.
    # The frequency controls how often (iteration) bagging is used. Smaller
    # fractions and frequencies reduce overfitting.
}

In [57]:


# Set algoritm parameters
best = fmin(fn=objective,
            space=space,
            algo=tpe.suggest,
            max_evals=10)

# Print best parameters
best_params = space_eval(space, best)

############## New Run ################
params = {'max_depth': 14, 'gamma': '0.148', 'subsample': '0.80', 'reg_alpha': '0.340', 'reg_lambda': '0.174', 'learning_rate': '0.138', 'num_leaves': '70.000', 'colsample_bytree': '0.419', 'min_child_samples': '170.000', 'feature_fraction': '0.592', 'bagging_fraction': '0.776'}
1 CV - score: 0.8998
2 CV - score: 0.8994
3 CV - score: 0.918
4 CV - score: 0.8914
5 CV - score: 0.9266
6 CV - score: 0.9189
7 CV - score: 0.9189
Total Time Run: 3.51
Mean ROC_AUC: 0.9104211024698647

############## New Run ################
params = {'max_depth': 11, 'gamma': '0.320', 'subsample': '0.60', 'reg_alpha': '0.171', 'reg_lambda': '0.382', 'learning_rate': '0.013', 'num_leaves': '30.000', 'colsample_bytree': '0.772', 'min_child_samples': '150.000', 'feature_fraction': '0.575', 'bagging_fraction': '0.858'}
1 CV - score: 0.8985
2 CV - score: 0.9125
3 CV - score: 0.9249
4 CV - score: 0.9039
5 CV - score: 0.9307
6 CV - score: 0.9265
7 CV - score: 0.9211
Total Time Run: 3.91
Mean ROC_AUC: 0.9168762148075876

############## New Run ################
params = {'max_depth': 10, 'gamma': '0.143', 'subsample': '0.20', 'reg_alpha': '0.140', 'reg_lambda': '0.020', 'learning_rate': '0.102', 'num_leaves': '80.000', 'colsample_bytree': '0.461', 'min_child_samples': '180.000', 'feature_fraction': '0.631', 'bagging_fraction': '0.624'}
1 CV - score: 0.87
2 CV - score: 0.8765
3 CV - score: 0.8999
4 CV - score: 0.8571
5 CV - score: 0.9039
6 CV - score: 0.8882
7 CV - score: 0.8911
Total Time Run: 2.32
Mean ROC_AUC: 0.8838098682028442

############## New Run ################
params = {'max_depth': 23, 'gamma': '0.634', 'subsample': '0.60', 'reg_alpha': '0.106', 'reg_lambda': '0.333', 'learning_rate': '0.172', 'num_leaves': '210.000', 'colsample_bytree': '0.729', 'min_child_samples': '120.000', 'feature_fraction': '0.569', 'bagging_fraction': '0.893'}
1 CV - score: 0.889
2 CV - score: 0.889
3 CV - score: 0.913
4 CV - score: 0.8865
5 CV - score: 0.9226
6 CV - score: 0.9143
7 CV - score: 0.9172
Total Time Run: 9.57
Mean ROC_AUC: 0.9044993730440073

############## New Run ################
params = {'max_depth': 19, 'gamma': '0.496', 'subsample': '0.60', 'reg_alpha': '0.372', 'reg_lambda': '0.136', 'learning_rate': '0.180', 'num_leaves': '150.000', 'colsample_bytree': '0.344', 'min_child_samples': '160.000', 'feature_fraction': '0.413', 'bagging_fraction': '0.751'}
1 CV - score: 0.8937
2 CV - score: 0.8916
3 CV - score: 0.9172
4 CV - score: 0.8842
5 CV - score: 0.9214
6 CV - score: 0.9149
7 CV - score: 0.9166
Total Time Run: 3.97
Mean ROC_AUC: 0.9056539946605449

############## New Run ################
params = {'max_depth': 17, 'gamma': '0.503', 'subsample': '0.90', 'reg_alpha': '0.234', 'reg_lambda': '0.182', 'learning_rate': '0.067', 'num_leaves': '230.000', 'colsample_bytree': '0.543', 'min_child_samples': '100.000', 'feature_fraction': '0.744', 'bagging_fraction': '0.879'}
1 CV - score: 0.9007
2 CV - score: 0.9107
3 CV - score: 0.9233
4 CV - score: 0.8993
5 CV - score: 0.9324
6 CV - score: 0.9298
7 CV - score: 0.9284
Total Time Run: 5.14
Mean ROC_AUC: 0.9177885513673946

############## New Run ################
params = {'max_depth': 15, 'gamma': '0.064', 'subsample': '0.90', 'reg_alpha': '0.266', 'reg_lambda': '0.188', 'learning_rate': '0.072', 'num_leaves': '180.000', 'colsample_bytree': '0.747', 'min_child_samples': '120.000', 'feature_fraction': '0.781', 'bagging_fraction': '0.762'}
1 CV - score: 0.8995
2 CV - score: 0.9066
3 CV - score: 0.9261
4 CV - score: 0.8994
5 CV - score: 0.9312
6 CV - score: 0.9275
7 CV - score: 0.9302
Total Time Run: 4.38
Mean ROC_AUC: 0.9172237765464042

############## New Run ################
params = {'max_depth': 8, 'gamma': '0.675', 'subsample': '0.90', 'reg_alpha': '0.390', 'reg_lambda': '0.236', 'learning_rate': '0.036', 'num_leaves': '130.000', 'colsample_bytree': '0.762', 'min_child_samples': '200.000', 'feature_fraction': '0.701', 'bagging_fraction': '0.855'}
1 CV - score: 0.8983
2 CV - score: 0.9053
3 CV - score: 0.9222
4 CV - score: 0.9046
5 CV - score: 0.9334
6 CV - score: 0.9264
7 CV - score: 0.9166
Total Time Run: 1.97
Mean ROC_AUC: 0.9152418266758211

############## New Run ################
params = {'max_depth': 15, 'gamma': '0.209', 'subsample': '0.50', 'reg_alpha': '0.071', 'reg_lambda': '0.376', 'learning_rate': '0.112', 'num_leaves': '90.000', 'colsample_bytree': '0.524', 'min_child_samples': '160.000', 'feature_fraction': '0.465', 'bagging_fraction': '0.873'}
1 CV - score: 0.8902
2 CV - score: 0.8929
3 CV - score: 0.9162
4 CV - score: 0.8848
5 CV - score: 0.9212
6 CV - score: 0.9125
7 CV - score: 0.9147
Total Time Run: 3.69
Mean ROC_AUC: 0.90466246909241

############## New Run ################
params = {'max_depth': 13, 'gamma': '0.411', 'subsample': '0.20', 'reg_alpha': '0.046', 'reg_lambda': '0.246', 'learning_rate': '0.020', 'num_leaves': '210.000', 'colsample_bytree': '0.498', 'min_child_samples': '180.000', 'feature_fraction': '0.759', 'bagging_fraction': '0.851'}
1 CV - score: 0.8918
2 CV - score: 0.9036
3 CV - score: 0.9203
4 CV - score: 0.8944
5 CV - score: 0.9244
6 CV - score: 0.9183
7 CV - score: 0.9165
Total Time Run: 3.62
Mean ROC_AUC: 0.9098888022954371
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [42:06<00:00, 226.77s/it, best loss: -0.9177885513673946]

In [58]:
print("BEST PARAMS: ", best_params)

best_params['max_depth'] = int(best_params['max_depth'])

BEST PARAMS:  {'bagging_fraction': 0.8787058795253496, 'colsample_bytree': 0.5427642005224291, 'feature_fraction': 0.7435023738832408, 'gamma': 0.5030791234636088, 'learning_rate': 0.06681428345787745, 'max_depth': 17.0, 'min_child_samples': 100, 'num_leaves': 230, 'reg_alpha': 0.23355695093321022, 'reg_lambda': 0.18155241402663785, 'subsample': 0.9}

In [0]:
clf = xgb.XGBClassifier(
    n_estimators=300,
    **best_params,
    tree_method='gpu_hist'
)

clf.fit(X_train, y_train)

y_preds = clf.predict_proba(X_test)[:,1]

In [0]:
sample_submission['isFraud'] = y_preds
sample_submission.to_csv('XGB_hypopt_model.csv')